* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    text-align: center;
    padding: 2rem;
}

.tabela-geral{
    width: 80%;
    background-color: green;
    margin: 0 auto;
    padding: 1rem;
}

.tabela {
    column-count: 1;
    width: 60%;
}

.tabela-grupo {
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 0.1rem solid #fff;
}

th, td {
    border: 0.1rem solid #fff;
    margin: -2rem solid #fff;
}